@{
  ViewData["Title"] = "ForgottenPassword";
  Layout = null;
}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/css/sb-admin-2.css" rel="stylesheet" />
  <link href="~/css/metisMenu.css" rel="stylesheet" />

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/metismenu/metisMenu.min.js"></script>
  <script src="~/lib/theme/sb-admin-2.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading" style="text-align:center;">
            <h3 class="panel-title">ACCESS DENIED</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>